html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

table, tbody, th, td {
    padding: 0.5em;
}

tr:nth-child(even) {
    background-color: #efefef;
}

nav a {
    color: #000000;
    text-decoration: none;
}

p {
    margin-bottom: 0.8em;
    line-height: 1.2;
}

#logomark {
    font-weight: 800;
}

#nav {
    background-color: #e0e0e0;
    width: 100%;
}

#content {
    max-width: 80%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background-color: #7e7e7e;
}

.box {
    padding: 1em;
    border: 1px solid black;
    border-radius: 4px;
    width: auto;
    height: auto;
}

.box-margin {
    margin: 2em;
}

.button {
    color: #000000;
    display: inline-block;
    background-color: #dddddd;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 100ms linear;
    margin: 0.25em;
}

.button:hover {
    background-color: #eeeeee;
    transition: background-color 100ms linear;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    padding: 1em;
}

.flex-max {
    flex-grow: 1;
}

.flex-less {
    flex-shrink: 3;
}

.foreground {
    background-color: #f9f9f9;
}

.nav-header {
    font-weight: 475;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.25em;
}

.nav-container {
    display: inline-block;
    position: relative;
}

.nav-dropdown {
    display: none;
    position: absolute;
    background-color: #dddddd;
    border: 2px black solid;
}

.nav-container:hover .nav-dropdown {
    display: block;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    min-width: 160px;
    transition: background-color 100ms linear;
}

.nav-item:hover {
    background-color: #eeeeee;
    transition: background-color 100ms linear;
}
